:root {
  --primary: #146eb4;
  --white: #fff;
  --heading: #1a181e;
  --paragraph: #4d4d4d;
  --muted-background: #f2f2f2;
  --main-background: #fafafa;
  --border-input: #d9d9d9;
  --feature-background: rgba(20, 110, 180, 0.05);
}
